* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  top: 0px;
}

#navbar {

  width: auto;
  height: 10vh;
  padding-left: 40px;
  padding-right: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-size: 29px;
  font-family: sans-serif;
}
#right ul {
  display: flex;
  list-style: none;
}
#right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}
#right ul li a {
  font-size: 16px;
  font-family: sans-serif;
}
#right ul li a:hover{
  color: rgba(43, 106, 233, 0.913);
}
#right ul button {
  color: white;
  background-color: rgb(43, 106, 233);
  border-radius: 25px;
  padding: 12px 30px;
  cursor: pointer;
  border: 2px solid rgb(43, 106, 233);
}
#right ul button:hover{
  background-color: black;
  border: 2px solid black;
}
#main {
  color: white;
}
#sec1 {
  margin: 0px 30px 0px 27px;
  border-radius: 10px;
  border: 2px solid rgb(251, 249, 249);
  height: 100vh;
  width: 93vw;
  background-image: url(sec1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#sec1-1 {
  font-size: 62px;
  width: 40vw;
  margin: 90px 80px 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#span1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
#sec1-2 {
  font-size: 23.2px;
  margin: 0px 80px 50px;
  width: 45vw;
  line-height: 30px;
  font-family: sans-serif;
}
#email input {
  width: 40vw;
  height: 8vh;
  border-radius: 30px;
  margin: 0px 80px;
  padding: 0px 20px 0px;
}
:placeholder-shown{
  font-size: 30px;
}
#email button {
  width: 11vw;
  height: 6.5vh;
  border-radius: 30px;
  margin: 0px -268px 0px ;
  background-color: rgb(43, 106, 233);
  border: 1px solid rgb(43, 106, 233);
}
#email button a {
  color: white;
  font-size: 20px;
}
#part3 {
  font-size: 25px;
  font-family: sans-serif;
  margin: 40px 80px 30px;
}
#brand {
  margin: 0px 80px;
  display: flex;
  gap: 20px;
  font-size: 60px;
}
#sec2 {
  margin: 0px 30px 0px 27px;
  height: 89vh;
  width: 93vw;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
}
#sec2-1 {
  width: 48vw;
}
#sec2-1 div {
  font-size: 75px;
  font-family: sans-serif;
  margin-bottom: 30px;
}
#sec2-1 span {
  font-size: 22px;
  line-height: 30px;
}
#sec2-2 {
  line-height: 120px;
}

#sec2-2 ul li {
  border-bottom: 1px solid rgb(117, 114, 114);
  width: 44vw;
  list-style: none;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#sec2-2 ul li:hover {
  border-bottom: 2px solid rgb(8, 80, 224);
}
#sec2-2 ul li a {
  color: black;
}
#sec3 {
  color: white;
  border: 2px solid black;
  height: 100vh;
  background-image: url(gym.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#sec3-1 {
  font-size: 80px;
  font-family: sans-serif;
  margin: 70px 0px 0px 120px;
}
#sec3-1 span {
  font-style: italic;
  font-weight: bold;
}
#sec3-2 {
  font-size: 30px;
  font-family: sans-serif;
  width: 50vw;
  margin-left: 538px;
  margin-top: 50px;
}
#sec3 button {
  margin-top: 55px;
  margin-left: 700px;
  padding: 10px 50px;
  background-color: rgba(43, 106, 233, 0.913);
  border-radius: 20px;
  border: 2px solid rgba(43, 106, 233, 0.913);
}
#sec3 button:hover{
  background-color: black;
  border: 2px solid black;
}
#sec3 button a {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
#foot {
  display: grid;
  grid-template-columns: 30vw 25vw 15vw 15vw;
  grid-template-rows: 70px 70px 140px;
  margin-top: 50px;
}
#item-1 {
  padding-left: 40px;
}
#item-1 a {
  font-size: 45px;
  font-family: sans-serif;
}
#item-2 {
  
  grid-row: 2/4;
  padding-top: 18px;
  padding-left: 40px;
  font-family: sans-serif;
  font-size: 19px;
}
#item3 {
  
  grid-column: 3/4;
  font-weight: bold;
}
#item4 {
  font-weight: bold;
  font-weight: bold;
}
#item5 {
  grid-column: 3/4;
  font-weight: bold;
}
#item6 {
  font-weight: bold;
}
#item7 {
  grid-column: 3/4;
  font-weight: bold;
}
#item8 {
  font-weight: bold;
}
.pointer{
  cursor: pointer;
  font-size: 25px;
}
.pointer:hover{
   color: royalblue; 
}
#copyright{
  font-size: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
}